* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 1920px;
    background:  rgb(15, 32, 74);
    color: white;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(../images/header_image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 250px;
    cursor: pointer;
}

nav div a {
    border: 0;
    outline: 0;
    background: rgba(161, 191, 227, 0.5);
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.search_bar {
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: 30px;
    margin-top: 30px;
    overflow: hidden;
}

.search_bar input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.search_bar button {
    background: rgb(31, 79, 137);
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

/*features*/

.features {
    padding: 50px 12px;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0; 
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.jb-a {
    position: relative;
}

.jb-c {
    position: absolute;
    top: 0px;
    left: 48px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.jb-a:hover .jb-c {
    opacity: 1;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*info*/

.info {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.info h2 {
    font-weight: 500;
    font-size: 40px;
}

.qna {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.qna li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.qna li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.qna .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.qna input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.qna input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.info .search_bar {
    max-width: 600px;
    margin: 20px auto 60px;
}

.info small {
    font-size: 13px;
}

/* footer */

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid white;
    color: #ffffff;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 15%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 5px 0;
}

.copyright {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}